@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirLTStd-Black.otf') format('opentype');
	font-style: normal;
	font-display: swap;
	font-weight: 800;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirLTStd-Book.otf') format('opentype');
	font-style: normal;
	font-display: swap;
	font-weight: 500;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirLTStd-Roman.otf') format('opentype');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

$f-main: 'Avenir', sans-serif;
