.home-page {
	min-height: 100vh;
	position: relative;
	color: white;
	height: 100%;

	.container-content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 9;
		padding-left: 20%;
		min-height: 100vh;

		@include XGA {
			padding-left: 15%;
		}
	}

	.about-me-container {
		display: flex;
		height: auto;
		width: 100%;
		position: relative;
		z-index: 1;
		box-shadow: 0px 10px 49px 10px rgba(0, 0, 0, 0.2);
		justify-content: center;
		align-items: center;
		max-width: 1400px;
		background: $c-primary;
		flex-direction: column;
		padding-bottom: 15vw;
		height: 100%;

		@include vHD {
			width: 100%;
			padding-bottom: 0;
		}

		@include XGA {
			width: 90%;
			height: 500px;
			padding-bottom: 0;
			flex-direction: row;
		}

		@include HD {
			height: 550px;
		}

		.bg {
			z-index: -1;
			width: 100%;
			opacity: 0.6;

			@include vHD {
				opacity: 0.1;
			}
			@include XGA {
				opacity: 0.1;
			}

			&:after {
				background: rgba($color: $c-primary, $alpha: 1);
				z-index: -3;
			}
		}

		.left-container {
			position: relative;
			width: 80%;
			display: flex;
			justify-content: center;
			align-items: center;

			@include XGA {
				width: 40%;
			}

			.kv-person {
				box-shadow: 0px 70px 49px 10px rgba(0, 0, 0, 0.32);
				position: relative;
				bottom: -10vw;
				width: 80%;

				@include vHD {
					bottom: -2.5rem;
					max-width: 250px;
				}

				@include XGA {
					max-width: 300px;
					bottom: -5rem;
					width: 80%;
					left: 1rem;
				}

				img {
					width: 100%;
				}
			}
		}

		.right-container {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			width: 70%;

			p {
				@include XGA {
					width: 90%;
				}
			}

			@include XGA {
				padding: 2rem;
				* {
					text-align: left;
				}
			}

			@include XGA {
				width: 60%;
				padding-left: 5%;
			}

			.logo {
				width: 60%;
				margin: 0 auto;
				position: relative;

				@include vHD {
					max-width: 200px;
					margin-left: 0 auto;
					bottom: 0rem;
				}

				@include XGA {
					max-width: 400px;
					position: relative;
					margin: 0;
					margin-left: 1rem;
					left: -2rem;
				}
			}

			.about-me-footer {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin: 0 auto;

				@include XGA {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-direction: row-reverse;
					height: 100px;
					width: 100%;
					margin-top: 3rem;
				}

				@include XGA {
					margin: 0;
					margin-top: 3rem;
					margin-bottom: -4rem;
				}
			}
			.signature {
				mix-blend-mode: lighten;
				width: 70%;
				margin: 0 auto;

				@include XGA {
					max-width: 250px;
					margin: 0;
					align-self: flex-end;
					position: relative;
					bottom: -0.5rem;
				}
			}

			.social-media-icons {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 70%;
				margin: 0 auto;
				margin-top: 0;
				flex-direction: row;
				max-width: 200px;

				@include vHD {
					margin-bottom: 3rem;
				}
				@include XGA {
					max-width: 120px;
					align-self: flex-start;
					justify-content: space-between;
					margin: 0;
				}

				picture {
					width: 15%;

					@include XGA {
						width: 25px;
					}
				}
			}
		}
	}
}
